.Home-whole {
    font-family: Arial, Helvetica, sans-serif;
}

.Home-c1 {
    height: 79vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.Home-c1-box {
    height: 85%;
    width: 80%;
    /* background-image: url(../images/bg-easy.png); */
    border-radius: 22px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Home-c1-title {
    color: #fb8500;
    font-size: 45px;
    font-weight: 700;
}

.Home-c1-features {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 25px;
}

.Home-c1-link {
    padding: 5px;
    background-color: #fff;
}

.Home-c1-link a {
    text-decoration: none;
    color: #333;
}

.Home-c2 {
    height: 100vh;
    width: 100%;
    background-color: #023047;
    padding-top: 7%;
}

.Home-c2-content {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Home-c2-content-title {
    height: 20%;
    font-size: 35px;
    text-align: end;
    font-weight: 600;
    color: #fff;
}

.Home-c2-content-title span{
    font-size: 25px;
    color: #fb8500;
}

.Home-c2-content-body {
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.Home-c2-content-body-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home-c2-content-body-img-img {
    width: 65%;
    filter: brightness(1.05);
}

.Home-c2-content-body-body {
    width: 50%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home-c2-content-body-body-text {
    height: 50%;
}

.Home-c2-content-body-body-btn {
    height: 40%;
    margin-top: 5%;
}

.Home-c2-content-body-body-btn a{
    text-decoration: none;
    color: #ffb703;
    font-size: 23px;
}

.Home-c3 {
    height: 100vh;
    width: 100%;
    background-color: #eee;
    /* background-image: linear-gradient(to top, #ffffff, #edeffb, #d4e1f8, #b5d5f4, #8ecaec); */
}

.Home-c3-1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3% 4%;
}

.Home-c3-1-title {
    font-size: 30px;
}

.Home-c3-1-body {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Home-c3-1-body-cards {
    display: flex;
    width: 90%;
    height: 40%;
    align-items: center;
    justify-content: space-around;

}

.Home-c3-1-body-card {
    height: 100%;
    width: 32%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border-radius: 5px;
}

.Home-c3-1-body-card-mri {
    background-image: url('../images/mri.jpg');
}

.Home-c3-1-body-card-xray {
    background-image: url('../images/xray.png');
}

.Home-c3-1-body-card-ct {
    background-image: url('../images/ctscan.gif');
}

.Home-c3-1-body-card-pet {
    background-image: url('../images/pet.png');
}

.Home-c3-1-body-card-ultra {
    background-image: url('../images/ultra.jpg');
}

.Home-c3-1-body-card-blood {
    background-image: url('../images/blood.jpg');
}

.Home-c3-1-body-card-name {
    background-color: #fff;
    width: 30%;
    height: fit-content;
    text-align: center;
    padding: 5px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom-right-radius: 5px;
}

.Home-c4 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.Home-c4-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home-c4-img-img {
    width: 70%;
}

.Home-c4-content {
    width: 50%;
    height: 100%;
    background-color: #023047;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Home-c4-content-blank {
    height: 20%;
}

.Home-c4-content-title {
    height: 30%;
    color: #fff;
    font-size: 30px;
    text-align: end;
    font-weight: 600;
}

.Home-c4-content-title span {
    color: #ffb703;
}

.Home-c4-content-body {
    height: 30%;
}

.Home-c4-content-body-a {
    text-decoration: none;
    color: #fb8500;
}

.Home-c5 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.Home-c5-content {
    width: 50%;
    height: 100%;
    background-color: #F7F7F8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home-c5-content-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    width: 100%;
}

.Home-c5-title {
    height: 20%;
    color: #023047;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.Home-c5-docs {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Home-c5-docs-title {
    height: 10%;
}

.Home-c5-docs-cards {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home-c5-docs-card {
    height: 30%;
    margin-bottom: 2%;
    border-radius: 10px;
    cursor: pointer;
    width: 90%;
    background-color: #8ecae6;
    transition: 400ms;
}

.Home-c5-docs-card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.Home-c5-docs {
    height: 80%;
}

.Home-c5-docs-card-name {
    height: 60%;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding-left: 30px;
    padding-top: 20px;
    font-size: 30px;
}

.Home-c5-docs-card-down {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Home-c5-docs-card-down-spec {
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #023047;
}

.Home-c5-docs-card-down-book {
    padding-right: 30px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #023047;
}

.Home-c5-img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F8;
}

.Home-c5-img-img {
    width: 80%;
}

.Home-c6 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #F7F7F8;
}

.Home-c6-img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F8;
}

.Home-c6-img-img {
    width: 80%;
}

.Home-c6-content {
    width: 50%;
    height: 100%;
    background-color: #F7F7F8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home-c6-content-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 100%;
}

.Home-c6-title {
    height: 20%;
    color: #023047;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.Home-c6-blogs {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home-c6-blogs-cards {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Home-c6-blogs-cards-1 {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.Home-c6-blogs-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 45%;
    padding: 0 2.5%;
    background-color: #eee;
    margin: 5px;
}

.Home-c6-blogs-card-name {
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding-top: 20px;
    font-size: 23px;
}

.Home-c6-blogs-card-down {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.Home-c6-blogs-explore {
    height: 20%;
    display: flex;
    align-items: flex-end;
}

.Home-c6-blogs-explore a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}