@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

/* Landing Page Styles */


.Landing-body {
  overflow: hidden;
  background: radial-gradient(circle, rgb(193, 189, 255) 10%, transparent 11%);
  background-size: 1.3em 1.3em;
  background-color: #ffffff;
  opacity: 1;
  font-family: 'Poppins',sans-serif;
}

.Landing-logo-brand {
  display: block;
  text-decoration: none;
  color: #880808;
  font-size: 2.6rem;
  font-weight: bold;
  cursor: pointer;
}
.Landing-logo-brand span {
  color:black;
}

.Landing-header-1 {
  padding: 10px 10%;
  backdrop-filter: blur(1.5px);
}

.Landing-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Landing-nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

.Landing-nav ul li a{
  color: black;
  font-size: 18px;
  text-decoration: none;
  position: relative;
}

.Landing-nav ul li a::after {
  content:'';
  width: 0;
  height: 3px;
  background: #880808;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}
.Landing-nav ul li a:hover::after {
  width: 100%;
}

.Landing-containerr {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 0;
  min-height: 100vh;
  max-height: 100vh;
}

.Landing-container-1 {
  position: relative;
  top: 15%;
  display: flex;
  flex-direction: column;
  right: 0;
  left: 0;
}

.Landing-c1{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  height: 90vh;
}

.Landing-c1-side h4 {
  font-size: 3rem;
  text-align: center;
}
.Landing-c1-side h4 span {
  color: #880808;
  font-size: 3rem;
}
.Landing-c1-side h2 {
  color: #880808;
  font-size: 9rem;
}
.Landing-c1-side {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 130%;
  margin-left: -10px;
}
.Landing-c1-side button {
  cursor: pointer;
  background-color: #880808;
  padding: 10px 15px;
  border-radius: 4px;
  margin-top: 52px;
  font-size: medium;
  transition: 0.2s;
  border: 0.5px #880808 solid;
}
.Landing-c1-side button a {
  color: white;
  text-decoration: none;
}
.Landing-c1-side button:hover {
  background-color: white;
  color: black;
  border: 0.5px #880808 solid;
}
.Landing-c1-side button:hover a{
  color: #880808;
}
.Landing-c1-img {
  width: 60%;
  height: 150%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Landing-c1-img img{
  width: 110%;
}

@media screen and (max-width: 1080px) {
  .Landing-c1 {
      flex-direction: column;
  }
  .Landing-c1-side{
      left: 0;
  }

  .Landing-c2 {
      margin-top: 30px;
      flex-direction: column-reverse;
  }
  .Landing-c1-side{
      right: 0;
  }
}

/* Blogs css  */

.Blogs-whole{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: auto;
}

.Blogs-Randomiser{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Blogs-Randomiser-div{
    display: flex;
    width: 31%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.Randomiser-div{
  display: flex;
  align-items: center;
  width: 22%;
  height: 100%;
}

.Blogs-Randomiser-question{
    width: 78%;
    font-size: 18px;
    font-weight: 500;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.Randomiser-Button{
  background-color: orange;
  border: 0;
  width: 100%;
  height: 55%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

.Randomiser-Button span:active{
    color: #244;
}

   

.Blogs-content{
    width: 100%;
    min-height: 80%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Blogs-content-div{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.Blogs-slots-1{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.Blogs-card{
    width: 29%;
    height: 19rem;
    filter: drop-shadow(0 5px 10px 0 #ffffff);
    margin: 2%;
    border-radius: 15px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: 0.6s ease-in;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.Blogs-card::before{
    content: "";
    position: absolute;
    z-index: -1;
    background: #7952b3;
    height:100%;
    width: 3%;
    border-radius: 32px;
    transition: transform 0.25s ease-out;
}

.Blogs-card:hover::before{
    transition-delay:0.2s ;
    transform: scale(70);
}

.Blogs-card:hover{
    color: white;
    transition: 0.2s;
}


.Blogs-card-content{
    padding: 20px;
    padding-left: 35px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Blogs-card-title{
    font-size: 40px;
    font-weight: 500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Blogs-card-author{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Blogs-card-author-name{
    font-size: larger;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

.Blogs-card-author-prof{
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
}


/* footer css  */


.footer-whole {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}
  
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer-logo h1 {
  font-size: 35px;
  margin-bottom: 10px;
}

.footer-logo p {
  font-size: 18px;
}

.footer-logo span{
  color: #ff9900;
}

.footer-contact h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-contact p {
  font-size: 20px;
  margin: 5px 0;
}

.footer-social-icons {
  padding-top: 35px;
  display: flex;
  justify-content: center;
}

.footer-icon {
  font-size: 40px;
  color: #fff;
  margin: 0 15px;
  transition: color 0.3s ease;
  padding-left: 15px;
}

.footer-icon:hover {
  color: #ff9900;
}

.footer-down-part{
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-feedback-form{
  width: 50%;
  background-color: #444;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.footer-together{
  display: flex;
  align-items: center;
  width: 85%;
}
  
.footer-feedback-form  input[type="text"],
.footer-feedback-form  input[type="email"],
.footer-feedback-form  input[type="tel"],
.footer-feedback-form  textarea {
  width: calc(100% - 15px); /* Adjusted width */
  padding: 4px; /* Reduced padding */
  font-size: 10px; /* Reduced font size */
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 18px; /* Reduced input height */
  margin-bottom: 5px; /* Added margin between form elements */
}

.footer-feedback-form  button {
  background-color:  #ff9900;
  color: #fff;
  border: none;
  padding: 6px 12px; /* Reduced padding */
  border-radius: 3px;
  font-size: 12px; /* Reduced font size */
  cursor: pointer;
  margin-top: 15px;
  margin-top: 15px;
}

.footer-form-group{
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-form-group input[type=text]{
  width: 90%;
  height: 40%;
}

.footer-form-group input[type=email]{
  width: 90%;
  height: 40%;
}

.footer-form-group-2{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
  
.footer-form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-feedback-form input::placeholder,
.footer-feedback-form textarea::placeholder {
  color:  #ff9900;
  font-size: 13px;
  font-style: italic;
}

.footer-form-group-2{
  width: 80%;
  height: 8rem;
}

.footer-form-group-2 textarea{
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}



/* Navbar css  */


.Navbar-whole {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  height: 9vh;
}

.Navbar-left-side {
  display: flex;
  align-items: center;
}

.Navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.Navbar-logo-span {
  color: #ff9900;
}

.Navbar-right-side ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.Navbar-right-side li {
  margin: 0 15px;
}

.Navbar-right-side a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.Navbar-right-side a:hover {
  color: #ff9900;
}

.Navbar-logo-title{
  font-weight: 300;
  color: white;
}



/* UserProfile css  */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.UserProfile-whole{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.UserProfile-left {
  width: 20%;
  height: 100%;
  background-color: #8ecae6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.UserProfile-logo, .UserProfile-functions, .UserProfile-logout {
  width: 100%;
  margin-bottom: 10px;
}

.UserProfile-logo {
  height: 10%;
  font-size: 28px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserProfile-logo-dot{
  color: #FFB703;
}

.UserProfile-logo-dahboard{
  color: black;
  font-size: 27px;
  font-weight: 400;
}

.UserProfile-functions {
  height: 50%;
  margin-bottom: 30%;
}

.UserProfile-fuctions-int-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 80%;
}

.UserProfile-func-parts{
  width: 90%;
  height: 25%;
  margin-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.UserProfile-logout-part{
  width: 90%;
  height: 35%;
  margin-left: 20px;
  margin-right: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.UserProfile-func-parts-link {
  display: flex;
  color: #000;
  width: 100%;
}

.UserProfile-func-parts:hover{
  background-color: #a1e4f5;
  border-radius: 15px;
  transition: 0.2s;
  color: black;
}

.UserProfile-logout-part:hover{
  background-color: #a1e4f5;
  border-radius: 15px;
  transition: 0.2s;
  color: black;
}

.UserProfile-icon{
  width: 16%;
  font-size: 22px;
  margin-left: 20px;
  color: black;
}

.UserProfile-logout-icon{
  width: 14%;
  font-size: 22px;
  margin-left: 20px;
  color: black;
}

.UserProfile-func{
  width: 80%;
  font-size: 21px;
  font-weight: 400;
}

.UserProfile-logout-func{
  width: 80%;
  font-size: 21px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.UserProfile-logout {
  height: 20%;
  font-size: 21px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}  

.UserProfile-right{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color:white;
}

.UserProfile-top{
  width: 100%;
  height: 11%;
  max-height: 11%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.UserProfile-dashboard{
  width: 35%;
  padding-left: 3rem;
  font-size: 28px;
  font-weight: 600;
  display: flex;
}

.UserProfile-dashboard span {
  font-weight: 400;
}


.UserProfile-cards{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5% 2%;
  background-color: #eee;
}

.UserProfile-card-1{
  width: 24%;
  height: 100%;
}

.UserProfile-card-1-int-div,.UserProfile-card-2-int-div,.UserProfile-card-3-int-div,.UserProfile-card-4-int-div{
  padding: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.UserProfile-card-1-int-div-head{
  height: 40%;
  padding-top: 10px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Manrope', sans-serif;
  font-family: 'Poppins', sans-serif;
  color: black;
}

.UserProfile-card-1-int-div-head-black{
  height: 40%;
  padding-top: 10px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Manrope', sans-serif;
  color: white;
  letter-spacing: 1px;
}

.UserProfile-card-1-int-div-body{
  height: 60%;
  font-size: 50px;
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.UserProfile-card-2{
    width: 24%;
    height: 100%;
}

.UserProfile-card-3{
    width: 24%;
    height: 100%;
}

.UserProfile-card-4{
    width: 24%;
    height: 100%;
}

.UserProfile-appointments {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.UserProfile-appointments-title {
  width: 90%;
  font-size: 25px;
  margin: 10px 10px 25px 10px;
}

.UserProfile-appointments-cards {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UserProfile-appointments-card {
  background-color: #eee;
  width: 90%;
  margin: 5px;
  padding: 10px 30px;
}

.UserProfile-appointments-card-name {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.UserProfile-appointments-card-name span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

.UserProfile-profile {
  margin-top: 2rem;
  height: 60vh;
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-between;
}

.UserProfile-profile-name {
  font-size: 23px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.UserProfile-profile-name span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  color: #023047;
}

.UserProfile-settings-cards {
  width: 80%;
  padding: 10vh 0 5vh 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UserProfile-settings-title {
  width: 100%;
  font-size: 23px;
}

.UserProfile-settings-form {
  width: 100%;
  height: 34vh;
  padding: 7vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.UserProfile-settings-form-field {
  font-size: 15px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.UserProfile-settings-form-field input {
  padding: 5px;
  width: 15rem;
}

.UserProfile-settings-form-submit button {
  width: 13rem;
  cursor: pointer;
  height: 2rem;
  background-color: #880808;
  border: none;
  color: #fff;
}

.UserProfile-settings-form-submit button:hover {
  background-color: #ae1d1d;
}

.UserProfile-bottom-right{
    width: 100%;
    height: 69%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0% 2%;
    padding-bottom: 2%;
    background-color: #eee;
}

.UserProfile-booked-appointments{
    width: 60%;
    height: 100%;
}

.UserProfile-remaining{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.UserProfile-part-1{
    width: 100%;
    height: 50%;
}

.UserProfile-part-2{
    width: 100%;
    height: 50%;
}

.UserProfile-booked-appointments-int-div{
    width: 94%;
    height: 92%;
    margin: 4% 3%;
    background-color: #023047;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 24px;
    padding: 7px;
    display: flex;
    flex-direction: column;
}

.UserProfile-booked-appointments-int-div-head-top{
  padding: 10px;
  font-size: 25px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.UserProfile-booked-appointments-int-div-head-bottom{
  padding: 10px;
  padding-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  
}

.UserProfile-booked-appointments-int-div-head{
  color: white;
  display: flex;
  flex-direction: column;
}

.UserProfile-booked-appointments-int-div-body{
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.UserProfile-booked-appointments-int-div-body-part{
  font-size:20px;
  font-weight: 300;
  color: white;
  padding: 3px;
}

.UserProfile-booked-appointments-int-div-body-part:hover{
  background-color: #12465f;
  border-radius: 10px;
  transition: 0.2s;
}

.UserProfile-card-1-int-div,.UserProfile-card-3-int-div,.UserProfile-card-4-int-div{
    width: 92%;
    height: 92%;
    margin: 4%;
    border-radius: 24px;
    color: black;
}

.UserProfile-card-2-int-div{
    width: 92%;
    height: 92%;
    margin: 4%;
    border-radius: 24px;
    color: white;
}

.UserProfile-card-1-int-div{
  background-color: #219ebc;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.UserProfile-card-2-int-div{
  background-color: #023047;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.UserProfile-card-3-int-div{
  background-color: #ffb703;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.UserProfile-card-4-int-div{
  background-color: #fb8500;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.UserProfile-part-1-int-div{
    width: 92%;
    height: 85%;
    margin: 5%;
    background-color: #ffb703;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 24px;
}

.UserProfile-part-2-int-div{
    width: 92%;
    height: 85%;
    margin: 5%;
    background-color: #fb8500;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 24px;
}

.UserProfile-part-1-int-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.UserProfile-part-1-int-div-head{
  padding-top: 10px;
  padding-left: 5px;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Manrope', sans-serif;
  color: black;
}

.UserProfile-part-1-int-div-body{
  display: flex;
  justify-content: space-around;
  height: 40%;
  padding-top: 10px;
  padding-left: 5px;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  color: black;
}

.UserProfile-part-1-int-div-body-icon{
  padding-top: 10px;
  padding-left: 5px;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  color: black;
}



/* BlogComplete css  */

.BlogComplete-whole{
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.BlogComplete-matter{
  width: 80%;
  min-height: 80%;
  background-color: #fff;
  /* box-shadow: #7952b3 0px 2px 8px 0px;                               */
  border-radius: 15px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.BlogComplete-head{
  width: 100%;
  height: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.BlogComplete-head-heading{
  font-size: 60px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.BlogComplete-head-info{
  width: 100%;
  display: flex;
  align-items: center;
}

.BlogComplete-data{
  width: 80%;
  height: 100%;
  padding: 10px;
  padding-left: 0;
  
  font-size: 20px;
}

.BlogComplete-data span{
  font-size: 17px;
}

.BlogComplete-body{
  width: 100%;
  min-height: 75%;
}

.BlogComplete-body{
  width: 100%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  padding: 15px;
  line-height: 150%;
  /* letter-spacing: 1px; */
}
/* Login Page Styles */

.PatientLogin-whole {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BookAppointment-matter{
  width: 80%;
  height: 80%;
  background-color: #fff;
  box-shadow: #7952b3 0px 2px 8px 0px;                              
  border-radius: 15px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 40px;
}

.BookAppointment-head{
  width: 100%;
  height: 5%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-weight: 500;
}

.BookAppointment-body{
  width: 100%;
  height: 90%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 500;
}

.PatientLogin-logo{
  position: absolute;
  top: 5vh;
  left: 5vw;
  font-size: 30px;
  font-weight: bold;
}

.PatientLogin-logo-span {
  color: #7952b3;
}

.PatientLogin-logo-side {
  font-weight: normal;
  color: black;
  font-size: 29px;
}

.PatientLogin-left, .PatientLogin-right {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.PatientLogin-right{
  height: 70%;
}

.PatientLogin-image {
  width: 30rem;
}

.PatientLogin-form {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.PatientLogin-form input, select {
  width: 300px;
  padding: 10px;
  color: black;
}

.PatientLogin-form input::placeholder {
  color: rgba(60, 64, 67, 0.3);
}

.PatientLogin-form input[type=submit]{
  background-color: #023040;
  width: 100px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.PatientLogin-input {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.PatientLogin-input label {
  width: 87%;
  padding: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 017px;
}

.PatientLogin-input input {
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.PatientLogin-input select {
  width: 86%;
  height: 5vh;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.PatientLogin-right-register {
  text-decoration: none;
  color: #023040;
  padding-top: 20px;
}


/* Patient Register Styles */

.PatientRegister-body {
  height: 50%;
  width: 80%;
  display: flex;
}

.PatientRegister-right-content {
  width: 90%;
  padding: 5%;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.PatientRegister-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 100%;
}

.PatientRegister-form-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}

.HospRegister-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 100%;
}

.DocRegister-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 80%;
}

.PatientRegister-form-input input, .PatientRegister-form-input select {
  width: 65%;
  padding: 5px;
  margin-bottom: 2px;
}

.PatientRegister-form-submit {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.PatientRegister-form-btn {
  width: 30%;
  padding: 10px 15px;
  background-color: #023040;
  color: #fff;
  cursor: pointer;
}

.Patientregister-links {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 20%;
  padding-top: 10px;
  justify-content: flex-end;
}

.HospRegister-links {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 15%;
  justify-content: flex-end;
}

.Patientregister-link {
  font-size: 15px;
  display: flex;
  justify-content: center;
  width: 90%;
}

.PatientRegister-left, .PatientRegister-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Blogform css */

.Blogform-whole{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Blogform-upper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
}

.Blogform-headline{
  font-size: 55px;
  font-weight: 600;
}

.Blogform-mid{
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Blogform-mid-int{
  width: 70%;
  height: 90%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.Blogform-form-div{
  width: 90%;
  height: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Blogform-remaining{
  height: 10%;
}

.Blogform-form{
  margin-top: 15px;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Blogform-label{
  font-size: 25px;
  font-weight: 500;
}

.Blog-form-input-Title input[type='text']{
  height: 30px; 
}

.Blog-form-input-Blog[type='text']{
  height: 220px; 
}

.Blogform-textarea{
  width: 100%;
  height: 370px;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.Blogform-remaining{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Blogform-remaining-button{
  width: 10%;
  height: 50%;
  border-radius: 10px;
  background-color: #ff9900;
  border: 0;
  color: #fff;
  cursor: pointer;
}

.Blogform-remaining-button:active{
  background-color: orange;
}

.Blogform-input::placeholder{
  font-size: 15px;
  font-weight: 500;
}


/* css for BookAppointment */

.BookAppointment-whole{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #023040;
}

.BookAppointment-form-div{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.BookAppointment-form-main{
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0;
  padding-left: 30px;
}

.BokkAppointment-Headline{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

.BookAppointment-form{
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #ddd;
}

.BookAppointment-input-name[type=text]{
  font-size: 15px;
  border: 2px solid #ccc;
  border-radius: 4px;
  height: 14%;
}

.BookAppointment-input-date[type=date]{
  width: 43%;
  height: 12%;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.BookAppointment-select{
  border: 2px solid #ccc;
  border-radius: 4px;
  height: 9%;
}

.BookAppointment-button-div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.BookAppointment-button{
  width: 16%;
  height: 42%;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
  background-color: #023040;
  border: 0;
  color: #fff;
  cursor: pointer;
}

.BookAppointment-button:active{
  background-color: #034b63;
}

.BookAppointment-textarea{
  width: 100%;
  height: 120px;
  padding: 10px 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.BookAppointment-label{
  font-size: 20px;
  font-weight: 500;
  padding: 4px;
}

.BookAppointment-form input::placeholder{
  font-size: 13px;
}

.BookAppointment-input-mobileNumber{
  height: 14%;
  border: 2px solid #ccc;
  border-radius: 4px;
}


.BookAppointment-Cost{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  color: black;
}


/* css for ShowDoctors */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}


.containerr {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 0;
}
.container-1 {
    position: relative;
    top: 15%;
    display: flex;
    flex-direction: column;
    right: 0;
    left: 0;
}

.searchbar-div {
    max-width: 35rem;
    max-height: 2rem;
}
.searchbar-div form {
    display: flex;
    width: 100%;
}
.searchbar {
    text-align: left;
    max-width: 40rem;
}
.searchbar-search {
    position: relative;
    cursor: pointer;
    padding: 0.4rem;
    border: 0.1rem;
    transition: 0.3s;
}
.searchbar-search:hover {
    background-color: #eee;
    border-radius: 5px;
    color: black;
}

.material-symbols-outlined {
  position: absolute;
}
.header-home-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.panels{
  position: absolute;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  top: 40vh;
}

.panel-1 {
  width: 65vw;
  height: 16rem;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}
.panel-1:hover{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.ShowDoctors-docimage {
  margin-left: 1rem;
  width: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-panel{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 7%;
}
.head-body{
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.name-dr{
  font-size: 1.6rem;
  margin: 0;
  color: orange;
  font-weight: 500;
}
.name-hosp{
  font-size: 0.8rem;
  color: #022a45;
}
.bio-body{
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bio-body span {
  color: #022a45;
  font-weight: 600;
}
.bio-body p{
  margin: 0;
}
.contact-body{
  height: 35%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-body button{
  height: 43%;
  font-size: 0.9rem;
  transition: 0.3s;
  cursor: pointer;
}
.number-panel p span{
  display: block;
  font-size: 1.4rem;
}
.number-panel p{
  margin: 0;
}
.number-panel{
  width: 8rem;
  text-align: end;
  padding: 5px;
  background-color: #088812;
  color: #fff;
  border-radius: 7px;
  border: none;
  display: flex;
  justify-content: space-around;
}

.number-panel-icon-phone{
  height: 90%;
  width: 15%;
}

.appoint-panel{
  width: 10rem;
  padding: 5px;
  background-color: orange;
  color: #fff;
  border-radius: 7px;
  border: none;
}
.contact-body button:hover{
  opacity: 0.7;
}

.ShowDoctors-searchbar{
  display: flex;
  width: 100vw;
  height: 7rem;
}

.ShowDoctors-searchbar-int{
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.content-mid{
    width: 100%;
    height: 20vh;
    top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
}
.content-searched{
    width: 70%;
}
.searched-for{
    margin: 0;
    font-size: 1.3rem;
}
.searched-for span{
  font-weight: 500;
}
.filters{
  width: 80%;
  margin: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28%;
  height: 80%;
}


.submit-sort{
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-sort button{
    padding: 8px 10px;
    background-color: orange;
    color: #ddd;
    border-radius: 5px;
    border: none;
    transition: 0.2s;
    font-weight: 500;
}
.submit-sort button:active{
    background-color: #fff;
    color: orange; 
}


/* css for doctor profile */



@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.DoctorProfile-whole{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.DoctorProfile-left {
  width: 20%;
  height: 100%;
  background-color: #8ecae6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.DoctorProfile-logo, .DoctorProfile-functions, .DoctorProfile-logout {
  width: 100%;
  margin-bottom: 10px;
}

.DoctorProfile-logo {
  height: 10%;
  font-size: 35px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DoctorProfile-logo-dot{
  color: #FFB703;
}

.DoctorProfile-logo-dahboard{
  color: black;
  font-size: 27px;
  font-weight: 400;
}

.DoctorProfile-functions {
  height: 50%;
  margin-bottom: 30%;
}

.DoctorProfile-fuctions-int-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 80%;
}

.DoctorProfile-func-parts{
  width: 90%;
  height: 18%;
  margin-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
}

.DoctorProfile-logout-part{
  width: 90%;
  height: 35%;
  margin-left: 20px;
  margin-right: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
}


.DoctorProfile-func-parts:hover{
  background-color: #a1e4f5;
  border-radius: 15px;
  transition: 0.2s;
  color: black;
}

.DoctorProfile-logout-part:hover{
  background-color: #a1e4f5;
  border-radius: 15px;
  transition: 0.2s;
  color: black;
}

.DoctorProfile-icon{
  width: 16%;
  font-size: 22px;
  margin-left: 20px;
  color: black;
}

.DoctorProfile-logout-icon{
  width: 14%;
  font-size: 22px;
  margin-left: 20px;
  color: black;
}

.DoctorProfile-func{
  width: 80%;
  font-size: 21px;
  font-weight: 400;
}

.DoctorProfile-logout-func{
  width: 80%;
  font-size: 21px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.DoctorProfile-logout {
  height: 20%;
  font-size: 21px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}  

.DoctorProfile-right{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color:white;
}

.DoctorProfile-top{
  width: 100%;
  height: 11%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.DoctorProfile-dashboard{
  width: 25%;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.DoctorProfile-user-logo{
  width: 20%;
  height: 100%;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DoctorProfile-user-logo-pic:hover{
  font-size: 32px;
  transition: 0.3s;
}

.DoctorProfile-cards{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5% 2%;
  background-color: #eee;
}

.DoctorProfile-card-1{
  width: 24%;
  height: 100%;
}

.DoctorProfile-card-1-int-div,.DoctorProfile-card-2-int-div,.DoctorProfile-card-3-int-div,.DoctorProfile-card-4-int-div{
  padding: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.DoctorProfile-card-1-int-div-head{
  height: 40%;
  padding-top: 10px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Manrope', sans-serif;
  color: black;
}

.DoctorProfile-card-1-int-div-head-black{
  height: 40%;
  padding-top: 10px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Manrope', sans-serif;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.DoctorProfile-card-1-int-div-body{
  height: 60%;
  font-size: 50px;
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.DoctorProfile-card-2{
    width: 24%;
    height: 100%;
}

.DoctorProfile-card-3{
    width: 24%;
    height: 100%;
}

.DoctorProfile-card-4{
    width: 24%;
    height: 100%;
}

.DoctorProfile-bottom-right{
    width: 100%;
    height: 66%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0% 2%;
    padding-bottom: 2%;
    background-color: #eee;
}

.DoctorProfile-booked-appointments{
    width: 60%;
    height: 100%;
}

.DoctorProfile-remaining{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.DoctorProfile-part-1{
    width: 100%;
    height: 50%;
}

.DoctorProfile-part-2{
    width: 100%;
    height: 50%;
}

.DoctorProfile-booked-appointments-int-div{
    width: 94%;
    height: 92%;
    margin: 4% 3%;
    background-color: #023047;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 24px;
    padding: 7px;
    display: flex;
    flex-direction: column;
}

.DoctorProfile-booked-appointments-int-div-head-top{
  padding: 5px;
  font-size: 25px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.DoctorProfile-booked-appointments-int-div-head-bottom{
  padding: 5px;
  padding-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  
}

.DoctorProfile-booked-appointments-int-div-head{
  color: white;
  display: flex;
  flex-direction: column;
}

.DoctorProfile-booked-appointments-int-div-body{
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.DoctorProfile-booked-appointments-int-div-body-part{
  font-size:20px;
  font-weight: 300;
  color: white;
  padding: 3px;
}

.DoctorProfile-booked-appointments-int-div-body-part:hover{
  background-color: #12465f;
  border-radius: 10px;
  transition: 0.2s;
}

.DoctorProfile-card-1-int-div,.DoctorProfile-card-3-int-div,.DoctorProfile-card-4-int-div{
    width: 92%;
    height: 92%;
    margin: 4%;
    border-radius: 24px;
    color: black;
}

.DoctorProfile-card-2-int-div{
    width: 92%;
    height: 92%;
    margin: 4%;
    border-radius: 24px;
    color: white;
}

.DoctorProfile-card-1-int-div{
  background-color: #219ebc;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.DoctorProfile-card-2-int-div{
  background-color: #023047;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.DoctorProfile-card-3-int-div{
  background-color: #ffb703;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.DoctorProfile-card-4-int-div{
  background-color: #fb8500;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.DoctorProfile-part-1-int-div{
    width: 92%;
    height: 85%;
    margin: 5%;
    background-color: #ffb703;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 24px;
}

.DoctorProfile-part-2-int-div{
    width: 92%;
    height: 85%;
    margin: 5%;
    background-color: #fb8500;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 24px;
}

.DoctorProfile-part-1-int-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DoctorProfile-part-1-int-div-head{
  padding-top: 10px;
  padding-left: 5px;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Manrope', sans-serif;
  color: black;
}

.DoctorProfile-part-1-int-div-body{
  display: flex;
  justify-content: space-around;
  height: 40%;
  padding-top: 10px;
  padding-left: 5px;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  color: black;
}

.DoctorProfile-part-1-int-div-body-icon{
  padding-top: 10px;
  padding-left: 5px;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  color: black;
}

/* css for aboutus */

.AboutUs-whole{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 250vh;
}

.AboutUs-Part-1{
  margin-top: 50px;
  display: flex;
  width: 90%;
  margin: 5% 5%;
  height: 75vh;
  padding: 20px;
}

.AboutUs-Part-1-img{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.AboutUs-Part-1-img-int{
  width: 90%;
  height: 65%;
  border-radius: 10px;
}

.AboutUs-Part-1-info{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.AboutUs-Part-1-info-data{
  height: 50%;
  margin-bottom: 90px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.AboutUs-Part-2{
  display: flex;
  width: 90%;
  margin: 5%;
  height: 95vh;
  padding: 20px;
}

.AboutUs-Part-2-img{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.AboutUs-Part-2-img-int{
  width: 90%;
  height: 65%;
  border-radius: 15px;
  margin-bottom: 150px;
  margin-left: 70px;
}

.AboutUs-Part-2-info{
  width: 50%;
  height: 100%;
  font-size: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AboutUs-Part-2-info-data{
  height: 50%;
  margin-bottom: 180px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}


/* css for HospitalProfile */


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.HospitalProfile-whole{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.HospitalProfile-left {
  width: 20%;
  height: 100%;
  background-color: #8ecae6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.HospitalProfile-logo, .HospitalProfile-functions, .HospitalProfile-logout {
  width: 100%;
  margin-bottom: 10px;
}

.HospitalProfile-logo {
  height: 10%;
  font-size: 35px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HospitalProfile-logo-dot{
  color: #FFB703;
}

.HospitalProfile-logo-dahboard{
  color: black;
  font-size: 27px;
  font-weight: 400;
}

.HospitalProfile-functions {
  height: 50%;
  margin-bottom: 30%;
}

.HospitalProfile-fuctions-int-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 90%;
}

.HospitalProfile-func-parts{
  width: 90%;
  height: 25%;
  margin-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.HospitalProfile-logout-part{
  width: 90%;
  height: 35%;
  margin-left: 20px;
  margin-right: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
}


.HospitalProfile-func-parts:hover{
  background-color: #a1e4f5;
  border-radius: 15px;
  transition: 0.2s;
  color: black;
}

.HospitalProfile-logout-part:hover{
  background-color: #a1e4f5;
  border-radius: 15px;
  transition: 0.2s;
  color: black;
}

.HospitalProfile-icon{
  width: 16%;
  font-size: 22px;
  margin-left: 20px;
  color: black;
}

.HospitalProfile-logout-icon{
  width: 14%;
  font-size: 22px;
  margin-left: 20px;
  color: black;
}

.HospitalProfile-func{
  width: 80%;
  font-size: 21px;
  font-weight: 400;
}

.HospitalProfile-logout-func{
  width: 80%;
  font-size: 21px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.HospitalProfile-logout {
  height: 20%;
  font-size: 21px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}  

.HospitalProfile-right{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color:white;
}

.HospitalProfile-top{
  width: 100%;
  height: 11%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.HospitalProfile-dashboard{
  width: 45%;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  padding-left: 3rem;
}

.HospitalProfile-dashboard span {
  font-weight: 400;
}

.HospitalProfile-user-logo{
  width: 20%;
  height: 100%;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HospitalProfile-user-logo-pic:hover{
  font-size: 32px;
  transition: 0.3s;
}

.HospitalProfile-cards{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5% 2%;
  background-color: #eee;
}

.HospitalProfile-card-1{
  width: 24%;
  height: 100%;
}

.HospitalProfile-card-1-int-div,.HospitalProfile-card-2-int-div,.HospitalProfile-card-3-int-div,.HospitalProfile-card-4-int-div{
  padding: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.HospitalProfile-card-1-int-div-head{
  height: 40%;
  padding-top: 10px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Manrope', sans-serif;
  color: black;
}

.HospitalProfile-card-1-int-div-head-black{
  height: 40%;
  padding-top: 10px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Manrope', sans-serif;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.HospitalProfile-card-1-int-div-body{
  height: 60%;
  font-size: 50px;
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.HospitalProfile-card-2{
    width: 24%;
    height: 100%;
}

.HospitalProfile-card-3{
    width: 24%;
    height: 100%;
}

.HospitalProfile-card-4{
    width: 24%;
    height: 100%;
}

.HospitalProfile-bottom-right{
    width: 100%;
    height: 66%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0% 2%;
    padding-bottom: 2%;
    background-color: #eee;
}

.HospitalProfile-booked-appointments{
    width: 60%;
    height: 100%;
}

.HospitalProfile-remaining{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.HospitalProfile-part-1{
    width: 100%;
    height: 50%;
}

.HospitalProfile-part-2{
    width: 100%;
    height: 50%;
}

.HospitalProfile-booked-appointments-int-div{
    width: 94%;
    height: 92%;
    margin: 4% 3%;
    background-color: #023047;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 24px;
    padding: 7px;
    display: flex;
    flex-direction: column;
}

.HospitalProfile-booked-appointments-int-div-head-top{
  padding: 5px;
  font-size: 25px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.HospitalProfile-booked-appointments-int-div-head-bottom{
  padding: 5px;
  padding-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  
}

.HospitalProfile-booked-appointments-int-div-head{
  color: white;
  display: flex;
  flex-direction: column;
}

.HospitalProfile-booked-appointments-int-div-body{
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.HospitalProfile-booked-appointments-int-div-body-part{
  font-size:20px;
  font-weight: 300;
  color: white;
  padding: 3px;
}

.HospitalProfile-booked-appointments-int-div-body-part:hover{
  background-color: #12465f;
  border-radius: 10px;
  transition: 0.2s;
}

.HospitalProfile-card-1-int-div,.HospitalProfile-card-3-int-div,.HospitalProfile-card-4-int-div{
    width: 92%;
    height: 92%;
    margin: 4%;
    border-radius: 24px;
    color: black;
}

.HospitalProfile-card-2-int-div{
    width: 92%;
    height: 92%;
    margin: 4%;
    border-radius: 24px;
    color: white;
}

.HospitalProfile-card-1-int-div{
  background-color: #219ebc;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.HospitalProfile-card-2-int-div{
  background-color: #023047;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.HospitalProfile-card-3-int-div{
  background-color: #ffb703;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.HospitalProfile-card-4-int-div{
  background-color: #fb8500;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.HospitalProfile-part-1-int-div{
    width: 92%;
    height: 85%;
    margin: 5%;
    background-color: #ffb703;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 24px;
}

.HospitalProfile-part-2-int-div{
    width: 92%;
    height: 85%;
    margin: 5%;
    background-color: #fb8500;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 24px;
}

.HospitalProfile-part-1-int-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HospitalProfile-part-1-int-div-head{
  padding-top: 10px;
  padding-left: 5px;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Manrope', sans-serif;
  color: black;
}

.HospitalProfile-part-1-int-div-body{
  display: flex;
  justify-content: space-around;
  height: 40%;
  padding-top: 10px;
  padding-left: 5px;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  color: black;
}

.HospitalProfile-part-1-int-div-body-icon{
  padding-top: 10px;
  padding-left: 5px;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  color: black;
}


/* css for Thankyou */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200&display=swap'); 
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'poppins',sans-serif;
}
.Thankyou-containerr{
    width: 100%;
    height: 100vh;
    background: transparent;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Thankyou-logo{
    width: 80%;
    font-weight: 600;
    font-size: 3rem;
    color: white;
    margin: 2rem;
}
.Thankyou-content{
    width: 90%;
    height: 30%;
    margin-top: 8%;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
}
.Thankyou-btn-home{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Thankyou-btn-home button{
    padding: 10px;
    cursor: pointer;
    background-color: #023040;
    border: 1px solid #023040;
    border-radius: 5px;
    transition: 0.2s;
}
.Thankyou-btn-home button:hover{
    background-color: #fff;
}
.Thankyou-btn-home button:hover a{
    transition: 0.2s;
    color: #023040;
}
.Thankyou-btn-home button a{
    color: #fff;
    text-decoration: none;
}
.Thankyou-btn-go-back {
    color: white;
}
.Thankyou-btn-go-back:hover {
    color: #023040;
}
.Thankyou-new-btn-hello{
    color: #fff;
}
.Thankyou-new-btn-hello:hover{
    color: #023040;
}
/* Background styles */

.Thankyou-background{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 0;
    scale: 1.2;
}
.Thankyou-background svg{
    width: 100%;
    height: 100%;
}

.Admin-whole{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.Admin-left {
  width: 18%;
  height: 100%;
  background-color: #022a45;
  color:white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 0;
  justify-content: space-between;
}

.Admin-func-parts{
  width: 100%;
  height: 25%;
  margin-left: 30px;
  padding:5px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid transparent; /* Set the initial border */
  transition: border-bottom 0.3s ease, transform 0.3s ease; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.025);
  
}
.Admin-func-parts:hover{
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
  
  color: #87CEFA;
}

.Admin-icon {
  margin-right: 10px;
  color: white; /* Set the initial color of the icons */
}

.Admin-func-parts:hover .Admin-icon {
  color: rgb(70, 149, 255);
  transform:scale(1.1) ;/* Light yellow color for icons on hover */
}

.Admin-cards{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 2%;
  background-color: #eee;
}

.Admin-card-1{
  width: 24%;
  height: 100%;
}

.Admin-card-1-int-div,.Admin-card-2-int-div,.Admin-card-3-int-div,.Admin-card-4-int-div{
  padding: 7px;
  display: flex;
  flex-direction: column; 
  /* align-items: center; */
  justify-content: space-around;
}

.Admin-card-1-int-div-head{
  height: 40%;
  padding-top: 10px; 
  padding-left: 5px;
  font-size: 25px;
  font-weight:bold;
  font-family: 'Manrope', sans-serif;
  color: white;
}


.Admin-card-1-int-div-body{
  height: 60%;
  font-size: 40px;
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
  font-family: 'Poppins', sans-serif;
  color:white;
}

.Admin-card-2{
  width: 24%;
  height: 100%;
}

.Admin-card-3{
  width: 24%;
  height: 100%;
}

.Admin-card-4{
  width: 24%;
  height: 100%;
}

.Admin-card-1-int-div{
  background-color: #219ebc;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  flex-direction:row;
}

.Admin-card-2-int-div{
  background-color: #023047;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  flex-direction:row;
}

.Admin-card-3-int-div{
  background-color: #ffb703;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  flex-direction:row;
}

.Admin-card-4-int-div{
  background-color: #fb8500;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  flex-direction:row;
}

.Admin-part-1-int-div{
    width: 92%;
    height: 85%;
    margin: 5%;
    background-color: #ffb703;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 24px;
}

.Admin-part-2-int-div{
    width: 92%;
    height: 85%;
    margin: 5%;
    background-color: #fb8500;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 24px;
}

.Admin-part-1-int-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Admin-part-1-int-div-head{
  padding-top: 10px;
  padding-left: 5px;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  color: black;
}

.Admin-part-1-int-div-body{
  display: flex;
  justify-content: space-around;
  height: 40%;
  padding-top: 10px;
  padding-left: 5px;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  color: black;
}

.Admin-part-1-int-div-body-icon{
  padding-top: 10px;
  padding-left: 5px;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  color: black;
}

.Admin-card-1-int-div-right
{
   margin-right:15%;
   color : white;
   
}

.Hospitals-right,.Hospitals-right-table ,.Doctors-right ,.Doctors-right-table
{
  background-color:#eee ;
}
.Hospitals-right{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the background color and opacity as needed */
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease; /* Adding transition for smoother effects */ 
}



table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 12px;
  text-align: left;
  font-size: 14px;
}

th {
  background-color: #566165;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

td:last-child {
  text-align: center;
}

.Hospitals-edit-icon, .Hospitals-delete-icon ,.Doctors-edit-icon, .Doctors-delete-icon {
  cursor: pointer;
  margin-right: 5px;
  font-size: 18px;
 
}

.Hospitals-edit-icon,.Doctors-edit-icon{
  color: #3c4651;
}
.Hospitals-delete-icon,.Doctors-delete-icon{
  color:  #3c4651
}

.Hospitals-edit-icon:hover,.Doctors-edit-icon:hover{
  color: #0056b3;
}

.Hospitals-delete-icon:hover,.Doctors-delete-icon:hover{
  color:rgb(238, 133, 133);
}

tr:hover {
  background-color: #f0f0f0;
}

.ViewHosp,.ViewDoc{
  font-weight: 700;
  font-size: 38px;
  padding: 15px; 
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.AddHosp,.AddDoc {
  font-size: 20px;
  width: 85px;
  padding-left: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  background-color: rgb(12, 190, 12);
  color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
  transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Adding transitions for smoother effects */
}

.AddHosp:hover,.AddDoc:hover {
  box-shadow: 8px 8px 15px grey; /* Adjusted shadow on hover */
  cursor: pointer;
}

.AddHosp:active,.AddDoc:hover {
  background-color: rgb(7, 212, 7); /* Change color on click */
}


.modal-container {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(251, 248, 248, 0.817); 
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease; /* Adding transition for smoother effects */ 
  backdrop-filter: blur(5px); 
}


/* Style for the blurred background */

.closeButton {
  margin-top: 10px;
}

/* AddHospitalForm.css */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  z-index: 1000;
  width: 400px; /* Adjust the width as needed */

}

h2 {
  text-align: center;
}

.DoctorRegistration-form-input {
  margin-bottom: 15px;
}

.DoctorRegistration-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.DoctorRegistration-input,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.DoctorRegistration-form-submit {
  text-align: center;
  
}

.DoctorRegistration-form-btn {
  margin-top: 10px;
  background-color: #4caf50; /* Red background color */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.DoctorRegistration-form-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}

.closeButton {
  margin-top: 10px;
  color: black;
  border: none;
  border-radius: 4px;

  cursor: pointer;
  display: inline-block;
  margin-left: 100px;
}

.closeButton:hover {
  border-radius: 10%; 
  border: 1px solid black; 
  box-sizing: border-box; 
}



.Registration-close{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.DoctorRegistration-form-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}


