/* Blogs css  */

.Blogs-whole{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: auto;
}

.Blogs-Randomiser{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Blogs-Randomiser-div{
    color: white;
    display: flex;
    letter-spacing: 1.5px;
    width: 30%;
    align-items: center;
    justify-content: space-around;
}

.Blogs-Randomiser-question{
    font-size: 18px;
    font-weight: 500;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.Randomiser-Button{
    border: none;
    border-radius:10px;
    background: #ffffff10;
    backdrop-filter: blur(20px);
    transition: all 1.5s ease;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
    width: 10px;

}
   
.Randomiser-Button span {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 20px;
    background-color: #ffb703;
    color:black;
}

.Randomiser-Button span:active{
    color: #244;
}

   

.Blogs-content{
    width: 100%;
    min-height: 80%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Blogs-content-div{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.Blogs-slots-1{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.Blogs-card{
    width: 29%;
    height: 20rem;
    filter: drop-shadow(0 5px 10px 0 #ffffff);
    margin: 2%;
    border-radius: 15px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: 0.6s ease-in;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.Blogs-card::before{
    content: "";
    position: absolute;
    z-index: -1;
    background: #7952b3;
    height:100%;
    width: 3%;
    border-radius: 32px;
    transition: transform 0.25s ease-out;
}

.Blogs-card:hover::before{
    transition-delay:0.2s ;
    transform: scale(70);
}

.Blogs-card:hover{
    color: white;
    transition: 0.2s;
}


.Blogs-card-content{
    padding: 20px;
    padding-left: 35px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Blogs-card-title{
    font-size: 40px;
    font-weight: 500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Blogs-card-author{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Blogs-card-author-name{
    font-size: larger;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

.Blogs-card-author-prof{
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
}


/* footer css  */


.footer-whole {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .footer-logo h1 {
    font-size: 35px;
    margin-bottom: 10px;
  }
  
  .footer-logo p {
    font-size: 18px;
  }

  .footer-logo span{
    color: #ff9900;
  }
  
  .footer-contact h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .footer-contact p {
    font-size: 20px;
    margin: 5px 0;
  }
  
  .footer-social-icons {
    padding-top: 35px;
    display: flex;
    justify-content: center;
  }
  
  .footer-icon {
    font-size: 26px;
    color: #fff;
    margin: 0 15px;
    transition: color 0.3s ease;
    padding-left: 15px;
  }
  
  .footer-icon:hover {
    color: #ff9900;
  }

  .footer-down-part{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-feedback-form{
    width: 50%;
    background-color: #444;
    padding: 5px; /* Reduced padding */
    border-radius: 5px;
  }

  .footer-together{
    display: flex;
    align-items: center;
    width: 80%;
  }
  
  /* Reduced font size and padding */
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: calc(100% - 15px); /* Adjusted width */
    padding: 4px; /* Reduced padding */
    font-size: 10px; /* Reduced font size */
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 18px; /* Reduced input height */
    margin-bottom: 5px; /* Added margin between form elements */
  }
  
  button {
    background-color:  #ff9900;
    color: #fff;
    border: none;
    padding: 6px 12px; /* Reduced padding */
    border-radius: 3px;
    font-size: 12px; /* Reduced font size */
    cursor: pointer;
  }

  .footer-form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-form-group-2{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
.footer-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

::placeholder {
    color:  #ff9900;
    font-size: 13px;
    font-style: italic;
  }



/* Navbar css  */


  .Navbar-whole {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
  .Navbar-left-side {
    display: flex;
    align-items: center;
  }
  
  .Navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .Navbar-logo-span {
    color: #ff9900;
  }
  
  .Navbar-right-side ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  .Navbar-right-side li {
    margin: 0 15px;
  }
  
  .Navbar-right-side a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  .Navbar-right-side a:hover {
    color: #ff9900;
  }
  
  .Navbar-logo-title{
    font-weight: 300;
    color: white;
  }



/* UserProfile css  */



.UserProfile-whole{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.UserProfile-left {
    width: 20%;
    height: 100%;
    background-color: #8ECAE6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .UserProfile-logo, .UserProfile-functions, .UserProfile-logout {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .UserProfile-logo {
    height: 10%;
    font-size: 35px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .UserProfile-logo span{
    color: #FFB703;
  }
  
  .UserProfile-functions {
    height: 50%;
    margin-bottom: 30%;
  }

  .UserProfile-fuctions-int-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 90%;
  }

  .UserProfile-func-parts{
    width: 90%;
    height: 25%;
    margin-left: 20px;
    display: flex;
    align-items: center;
  }

  .UserProfile-logout-part{
    width: 90%;
    height: 35%;
    margin-left: 20px;
    margin-right: 45px;
    display: flex;
    align-items: center;
  }

  .UserProfile-func-parts:hover{
    background-color: #219EBC;
    border-radius: 15px;
    transition: 0.4s;
  }

  .UserProfile-logout-part:hover{
    background-color: #219EBC;
    border-radius: 15px;
    transition: 0.4s;
  }

  .UserProfile-icon{
    width: 16%;
    font-size: 22px;
    margin-left: 20px;
  }

  .UserProfile-logout-icon{
    width: 14%;
    font-size: 22px;
    margin-left: 20px;
  }

  .UserProfile-func{
    width: 80%;
    font-size: 21px;
    font-weight: 400;
  }

  .UserProfile-logout-func{
    width: 80%;
    font-size: 21px;
    font-weight: 400;
  }
  
  .UserProfile-logout {
    height: 20%;
    font-size: 21px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }  

.UserProfile-right{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.UserProfile-top{
    width: 100%;
    height: 11%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.UserProfile-dashboard{
    width: 25%;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.UserProfile-user-logo{
    width: 20%;
    height: 100%;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UserProfile-user-logo-pic:hover{
    font-size: 32px;
    transition: 0.3s;
}

.UserProfile-cards{
    width: 96%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5% 2%;
    background-color: rgb(219, 217, 217);
}

.UserProfile-card-1{
    width: 24%;
    height: 100%;
}

.UserProfile-card-2{
    width: 24%;
    height: 100%;
}

.UserProfile-card-3{
    width: 24%;
    height: 100%;
}

.UserProfile-card-4{
    width: 24%;
    height: 100%;
}

.UserProfile-bottom-right{
    width: 96%;
    height: 66%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0% 2%;
    padding-bottom: 2%;
    background-color: rgb(219, 217, 217);
}

.UserProfile-booked-appointments{
    width: 60%;
    height: 100%;
}

.UserProfile-remaining{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.UserProfile-part-1{
    width: 100%;
    height: 50%;
}

.UserProfile-part-2{
    width: 100%;
    height: 50%;
}

.UserProfile-booked-appointments-int-div{
    width: 94%;
    height: 92%;
    margin: 4% 3%;
    background-color: #023047;
    border-radius: 24px;
}

.UserProfile-card-1-int-div,.UserProfile-card-2-int-div,.UserProfile-card-3-int-div,.UserProfile-card-4-int-div{
    width: 92%;
    height: 92%;
    margin: 4%;
    border-radius: 24px;
}

.UserProfile-card-1-int-div{
    background-color: #219EBC;
}

.UserProfile-card-2-int-div{
    background-color: #023040;
}

.UserProfile-card-3-int-div{
    background-color: #FFB703;
}

.UserProfile-card-4-int-div{
    background-color: #FB8500;
}

.UserProfile-part-1-int-div{
    width: 92%;
    height: 85%;
    margin: 5%;
    background-color: #219EBC;
    border-radius: 24px;
}

.UserProfile-part-2-int-div{
    width: 92%;
    height: 85%;
    margin: 5%;
    background-color: #8ECAE6;
    border-radius: 24px;
}


/* BlogComplete css  */

.BlogComplete-whole{
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.BlogComplete-matter{
  width: 80%;
  min-height: 80%;
  background-color: #fff;
  box-shadow: #7952b3 0px 2px 8px 0px;                              
  border-radius: 15px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.BlogComplete-head{
  width: 100%;
  height: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.BlogComplete-head-heading{
  font-size: 60px;
  font-weight: 500;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.BlogComplete-head-info{
  width: 100%;
  display: flex;
  align-items: center;
}

.BlogComplete-data{
  width: 80%;
  height: 100%;
  padding: 10px;
  padding-left: 0;
  font-size: 20px;
}

.BlogComplete-data span{
  font-size: 17px;
}

.BlogComplete-body{
  width: 100%;
  min-height: 75%;
}

.BlogComplete-body{
  width: 98%;
  padding: 15px;
}