@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* Landing Page Styles */

.Landing-body {
  overflow: hidden;
  background: radial-gradient(circle, rgb(193, 189, 255) 10%, transparent 11%);
  background-size: 1.3em 1.3em;
  background-color: #ffffff;
  opacity: 1;
  font-family: 'Poppins',sans-serif;
  max-height: 100vh;
}

.Landing-logo-brand {
  display: block;
  text-decoration: none;
  color: #880808;
  font-size: 2.6rem;
  font-weight: bold;
  cursor: pointer;
}
.Landing-logo-brand span {
  color:black;
}

.Landing-header-1 {
  padding: 10px 10%;
  backdrop-filter: blur(1.5px);
}

.Landing-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Landing-nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

.Landing-nav ul li a{
  color: black;
  font-size: 18px;
  text-decoration: none;
  position: relative;
}

.Landing-nav ul li a::after {
  content:'';
  width: 0;
  height: 3px;
  background: #880808;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

.Landing-nav ul li a:hover::after {
  width: 100%;
}

.Landing-c1{
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  color: black;
  height: 90vh;
}
.Landing-c1-side h4 {
  font-size: 2rem;
  text-align: center;
}
.Landing-c1-side h4 span {
  /* color: #3f3d56; */
  font-size: 2rem;
}
.Landing-c1-side h2 {
  color: #3f3d56;
  font-size: 9rem;
}
.Landing-c1-side {
  /* border-left: black 2px solid; */
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 120%;
  padding-right: 3rem;
}
.Landing-c1-side button {
  cursor: pointer;
  background-color: #3f3d56;
  padding: 10px 15px;
  border-radius: 4px;
  margin-top: 52px;
  font-size: medium;
  transition: 0.2s;
  border: 0.5px #3f3d56 solid;
}
.Landing-c1-side button a {
  color: white;
  text-decoration: none;
}
.Landing-c1-side button:hover {
  background-color: white;
  color: black;
  border: 0.5px #3f3d56 solid;
}
.Landing-c1-side button:hover a{
  color: #3f3d56;
}
.Landing-c1-img {
  width: 60%;
}
.Landing-c1-img img{
  width: 100%;
}


@media screen and (max-width: 1080px) {
  .Landing-c1 {
      flex-direction: column;
  }
  .Landing-c1-side{
      left: 0;
  }

  .Landing-c2 {
      margin-top: 30px;
      flex-direction: column-reverse;
  }
  .Landing-c1-side{
      right: 0;
  }
}

/* Blogs css  */

.Blogs-whole{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: auto;
}

.Blogs-Randomiser{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Blogs-Randomiser-div{
    color: white;
    display: flex;
    letter-spacing: 1.5px;
    width: 30%;
    align-items: center;
    justify-content: space-around;
}

.Blogs-Randomiser-question{
    font-size: 18px;
    font-weight: 500;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.Randomiser-Button{
    border: none;
    border-radius:10px;
    background: #ffffff10;
    backdrop-filter: blur(20px);
    transition: all 1.5s ease;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
    width: 10px;

}
   
.Randomiser-Button span {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 20px;
    background-color: #ffb703;
    color:black;
}

.Randomiser-Button span:active{
    color: #244;
}

   

.Blogs-content{
    width: 100%;
    min-height: 80%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Blogs-content-div{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.Blogs-slots-1{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.Blogs-card{
    width: 29%;
    height: 20rem;
    filter: drop-shadow(0 5px 10px 0 #ffffff);
    margin: 2%;
    border-radius: 15px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: 0.6s ease-in;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.Blogs-card::before{
    content: "";
    position: absolute;
    z-index: -1;
    background: #7952b3;
    height:100%;
    width: 3%;
    border-radius: 32px;
    transition: transform 0.25s ease-out;
}

.Blogs-card:hover::before{
    transition-delay:0.2s ;
    transform: scale(70);
}

.Blogs-card:hover{
    color: white;
    transition: 0.2s;
}


.Blogs-card-content{
    padding: 20px;
    padding-left: 35px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Blogs-card-title{
    font-size: 40px;
    font-weight: 500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Blogs-card-author{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Blogs-card-author-name{
    font-size: larger;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

.Blogs-card-author-prof{
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
}


/* footer css  */


.footer-whole {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .footer-logo h1 {
    font-size: 35px;
    margin-bottom: 10px;
  }
  
  .footer-logo p {
    font-size: 18px;
  }

  .footer-logo span{
    color: #ff9900;
  }
  
  .footer-contact h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .footer-contact p {
    font-size: 20px;
    margin: 5px 0;
  }
  
  .footer-social-icons {
    padding-top: 35px;
    display: flex;
    justify-content: center;
  }
  
  .footer-icon {
    font-size: 26px;
    color: #fff;
    margin: 0 15px;
    transition: color 0.3s ease;
    padding-left: 15px;
  }
  
  .footer-icon:hover {
    color: #ff9900;
  }

  .footer-down-part{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-feedback-form{
    width: 50%;
    background-color: #444;
    padding: 5px; /* Reduced padding */
    border-radius: 5px;
  }

  .footer-together{
    display: flex;
    align-items: center;
    width: 80%;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: calc(100% - 15px); /* Adjusted width */
    padding: 4px; /* Reduced padding */
    font-size: 10px; /* Reduced font size */
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 18px; /* Reduced input height */
    margin-bottom: 5px; /* Added margin between form elements */
  }
  
  button {
    background-color:  #ff9900;
    color: #fff;
    border: none;
    padding: 6px 12px; /* Reduced padding */
    border-radius: 3px;
    font-size: 12px; /* Reduced font size */
    cursor: pointer;
  }

  .footer-form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-form-group-2{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
.footer-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

::placeholder {
    color:  #ff9900;
    font-size: 13px;
    font-style: italic;
  }



/* Navbar css  */


  .Navbar-whole {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
  .Navbar-left-side {
    display: flex;
    align-items: center;
  }
  
  .Navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .Navbar-logo-span {
    color: #ff9900;
  }
  
  .Navbar-right-side ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  .Navbar-right-side li {
    margin: 0 15px;
  }
  
  .Navbar-right-side a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  .Navbar-right-side a:hover {
    color: #ff9900;
  }
  
  .Navbar-logo-title{
    font-weight: 300;
    color: white;
  }



/* UserProfile css  */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');




.UserProfile-whole{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.UserProfile-left {
    width: 20%;
    height: 100%;
    background-color: #8ecae6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .UserProfile-logo, .UserProfile-functions, .UserProfile-logout {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .UserProfile-logo {
    height: 10%;
    font-size: 35px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .UserProfile-logo-dot{
    color: #FFB703;
  }

  .UserProfile-logo-dahboard{
    color: black;
    font-size: 27px;
    font-weight: 400;
  }
  
  .UserProfile-functions {
    height: 50%;
    margin-bottom: 30%;
  }

  .UserProfile-fuctions-int-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 90%;
  }

  .UserProfile-func-parts{
    width: 90%;
    height: 25%;
    margin-left: 20px;
    display: flex;
    align-items: center;
  }

  .UserProfile-logout-part{
    width: 90%;
    height: 35%;
    margin-left: 20px;
    margin-right: 45px;
    display: flex;
    align-items: center;
  }


  .UserProfile-func-parts:hover{
    background-color: #a1e4f5;
    border-radius: 15px;
    transition: 0.2s;
    color: black;
  }

  .UserProfile-logout-part:hover{
    background-color: #a1e4f5;
    border-radius: 15px;
    transition: 0.2s;
    color: black;
  }

  .UserProfile-icon{
    width: 16%;
    font-size: 22px;
    margin-left: 20px;
    color: black;
  }

  .UserProfile-logout-icon{
    width: 14%;
    font-size: 22px;
    margin-left: 20px;
    color: black;
  }

  .UserProfile-func{
    width: 80%;
    font-size: 21px;
    font-weight: 400;
  }

  .UserProfile-logout-func{
    width: 80%;
    font-size: 21px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .UserProfile-logout {
    height: 20%;
    font-size: 21px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  }  

.UserProfile-right{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color:white;
    
}

.UserProfile-top{
    width: 100%;
    height: 11%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.UserProfile-dashboard{
    width: 25%;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.UserProfile-user-logo{
    width: 20%;
    height: 100%;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UserProfile-user-logo-pic:hover{
    font-size: 32px;
    transition: 0.3s;
}

.UserProfile-cards{
    width: 96%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5% 2%;
    background-color: #eee;
}

.UserProfile-card-1{
    width: 24%;
    height: 100%;
}

.UserProfile-card-1-int-div,.UserProfile-card-2-int-div,.UserProfile-card-3-int-div,.UserProfile-card-4-int-div{
  padding: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.UserProfile-card-1-int-div-head{
  height: 40%;
  padding-top: 10px;
  padding-left: 5px;
  font-size: 25px;
  font-weight: 300;
  font-family: 'Manrope', sans-serif;
  font-family: 'Poppins', sans-serif;
  color: black;
}

.UserProfile-card-1-int-div-head-black{
  height: 40%;
  padding-top: 10px;
  padding-left: 5px;
  font-size: 25px;
  font-weight: 200;
  font-family: 'Manrope', sans-serif;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.UserProfile-card-1-int-div-body{
  height: 60%;
  font-size: 50px;
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.UserProfile-card-2{
    width: 24%;
    height: 100%;
}

.UserProfile-card-3{
    width: 24%;
    height: 100%;
}

.UserProfile-card-4{
    width: 24%;
    height: 100%;
}

.UserProfile-bottom-right{
    width: 96%;
    height: 66%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0% 2%;
    padding-bottom: 2%;
    background-color: #eee;
}

.UserProfile-booked-appointments{
    width: 60%;
    height: 100%;
}

.UserProfile-remaining{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.UserProfile-part-1{
    width: 100%;
    height: 50%;
}

.UserProfile-part-2{
    width: 100%;
    height: 50%;
}

.UserProfile-booked-appointments-int-div{
    width: 94%;
    height: 92%;
    margin: 4% 3%;
    background-color: #023047;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 24px;
    padding: 7px;
    display: flex;
    flex-direction: column;
}

.UserProfile-booked-appointments-int-div-head-top{
  padding: 5px;
  font-size: 25px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.UserProfile-booked-appointments-int-div-head-bottom{
  padding: 5px;
  padding-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  
}

.UserProfile-booked-appointments-int-div-head{
  color: white;
  display: flex;
  flex-direction: column;
}

.UserProfile-booked-appointments-int-div-body{
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.UserProfile-booked-appointments-int-div-body-part{
  font-size:20px;
  font-weight: 300;
  color: white;
  padding: 3px;
}

.UserProfile-booked-appointments-int-div-body-part:hover{
  background-color: #12465f;
  border-radius: 10px;
  transition: 0.2s;
}

.UserProfile-card-1-int-div,.UserProfile-card-3-int-div,.UserProfile-card-4-int-div{
    width: 92%;
    height: 92%;
    margin: 4%;
    border-radius: 24px;
    color: black;
}

.UserProfile-card-2-int-div{
    width: 92%;
    height: 92%;
    margin: 4%;
    border-radius: 24px;
    color: white;
}

.UserProfile-card-1-int-div{
  background-color: #219ebc;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.UserProfile-card-2-int-div{
  background-color: #023047;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.UserProfile-card-3-int-div{
  background-color: #ffb703;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.UserProfile-card-4-int-div{
  background-color: #fb8500;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.UserProfile-part-1-int-div{
    width: 92%;
    height: 85%;
    margin: 5%;
    background-color: #ffb703;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 24px;
}

.UserProfile-part-2-int-div{
    width: 92%;
    height: 85%;
    margin: 5%;
    background-color: #fb8500;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 24px;
}


/* BlogComplete css  */

.BlogComplete-whole{
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.BlogComplete-matter{
  width: 80%;
  min-height: 80%;
  background-color: #fff;
  box-shadow: #7952b3 0px 2px 8px 0px;                              
  border-radius: 15px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.BlogComplete-head{
  width: 100%;
  height: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.BlogComplete-head-heading{
  font-size: 60px;
  font-weight: 500;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.BlogComplete-head-info{
  width: 100%;
  display: flex;
  align-items: center;
}

.BlogComplete-data{
  width: 80%;
  height: 100%;
  padding: 10px;
  padding-left: 0;
  font-size: 20px;
}

.BlogComplete-data span{
  font-size: 17px;
}

.BlogComplete-body{
  width: 100%;
  min-height: 75%;
}

.BlogComplete-body{
  width: 98%;
  padding: 15px;
}
/* Login Page Styles */

.PatientLogin-whole {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BookAppointment-matter{
  width: 80%;
  height: 80%;
  background-color: #fff;
  box-shadow: #7952b3 0px 2px 8px 0px;                              
  border-radius: 15px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 40px;
}

.BookAppointment-head{
  width: 100%;
  height: 5%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-weight: 500;
}

.BookAppointment-body{
  width: 100%;
  height: 90%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 500;
}
  /* overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.PatientLogin-logo{
  position: absolute;
  top: 5vh;
  left: 5vw;
  font-size: 30px;
  font-weight: bold;
}

.PatientLogin-logo-span {
  color: #7952b3;
}

.PatientLogin-logo-side {
  font-weight: normal;
  color: black;
  font-size: 29px;
}

.PatientLogin-left, .PatientLogin-right {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.PatientLogin-right{
  height: 70%;
}

.PatientLogin-image {
  width: 30rem;
}

.PatientLogin-form {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.PatientLogin-form input, select {
  width: 300px;
  padding: 10px;
  color: black;
}

.PatientLogin-form input::placeholder {
  color: rgba(60, 64, 67, 0.3);
}

.PatientLogin-form button {
  background-color: #023040;
  width: 100px;
  padding: 10px;
}

.PatientLogin-input {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.PatientLogin-input label {
  width: 87%;
  padding: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 017px;
}

.PatientLogin-input input {
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.PatientLogin-input select {
  width: 86%;
  height: 5vh;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.PatientLogin-right-register {
  text-decoration: none;
  color: #023040;
}

<<<<<<< Updated upstream
/* Patient Register Styles */

=======

/* Blogform css */

.Blogform-whole{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Blogform-upper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
}

.Blogform-headline{
  font-size: 55px;
  font-weight: 600;
}

.Blogform-mid{
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Blogform-mid-int{
  width: 70%;
  height: 90%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.Blogform-form-div{
  width: 90%;
  height: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Blogform-remaining{
  height: 10%;
}

form{
  margin-top: 15px;
  width: 90%;
  height: 100%;
}

label{
  font-size: 25px;
  font-weight: 500;
}

.Blog-form-input-Title[type='text']{
  height: 30px; 
}

.Blog-form-input-Blog[type='text']{
  height: 220px; 
}

textarea{
  width: 100%;
  height: 370px;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.Blogform-remaining{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Blogform-remaining-button{
  width: 20%;
}
>>>>>>> Stashed changes
